.game__intro {
  position: absolute;
  top: 30px;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
}
.game__intro > h2 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}
#app {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.game {
  margin: 0 auto;
}

.hide {
  display: none;
}
input {
  width: 100px;
  padding: 20px;
  border: none;
  outline: none;
  font-size: 24px;
}
button {
  margin-left: 30px;
  padding: 20px;
  border: none;
  background-color: #365bab;
  color: #fefefe;
}

.res {
  position: relative;
  bottom: 100px;
  font-size: 100px;
  font-weight: bold;
}
.tiped {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
}
.life {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%);
  font-size: 30px;
}
