.game__intro {
  position: absolute;
  top: 30px;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
}
.game__intro > h2 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}
#app {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
}
.game {
  margin: 0 auto;
}

.hide {
  display: none;
}
input {
  width: 100px;
  padding: 20px;
  border: none;
  outline: none;
  font-size: 24px;
}
button {
  margin-left: 30px;
  padding: 20px;
  border: none;
  background-color: #365bab;
  color: #fefefe;
}

.res {
  position: relative;
  bottom: 100px;
  font-size: 90px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}
.tiped {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  transform: translate(-50%);
}
.life {
  position: absolute;
  bottom: 100px;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%);
}

.endgame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #eaebe4;
  text-align: center;
}

.endgame > h1 {
  font-size: 50px;
  font-weight: bold;
}
.endgame > p {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #365bab;
  line-height: 50px;
  text-align: center;
}
.endgame > p > a {
  display: block;
  width: 100%;
  height: auto;
  color: #fefefe;
}
/*  */
